---
Language: Cpp
BasedOnStyle:  LLVM
AlignConsecutiveAssignments: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: None
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Allman
ReflowComments: false
SpacesBeforeTrailingComments: 2
...
